<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>문제가 발생하였습니다. 500</h1>
    <p>불편을 드려 죄송합니다. 위 코드를 관리자에게 알려주십시오.</p>
<%- include('includes/end.ejs') %>